<% if @tasks_nearby.size == 0 %>
    <h1>No Tasks Near By</h1><small><%= @location %></small>
    
<% else %>
    <h1>LIST TASKS NEAR BY</h1><small><%= @location %></small>
    <article class="larg">
        <% @tasks_nearby.each do |task| %>
            <div>
                <h3><%= task.description %>
                    <% if task.status == 'new' %>
                        <%= link_to 'Pick this task', edit_task_path(task), style: "color: darkgoldenrod; float: left;" %>
                    <% elsif task.status == 'assigned' %>
                        <%= link_to 'Click to Done', update_to_done_path(task), style: "color: darkgreen; float: left;" %>
                    <% elsif task.status == 'done' %>
                        <a style="color: darkgreen; float: left;">Done</a>
                    <% end %>
                </h3>
                <p><strong>Pickup: </strong><small><%= task.pickup_loc %></small></p>
                <p><strong>Deliver: </strong><small><%= task.deliver_loc %></small></p>
            </div>
        <% end %>
    </article>
<% end %>
<script>     
 $('body').on("click", ".larg div h3", function(){
     if ($(this).children('span').hasClass('close')) {
         $(this).children('span').removeClass('close');
     }
     else {
         $(this).children('span').addClass('close');
     }
     $(this).parent().children('p').slideToggle(250);
 });
</script>
